@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

// GENERAL STYLES

#landingPage {
  max-height: 100dvh;
  min-height: 100dvh;
}

.alreadyCalledBackground {
  background: vars.$alreadyCalledBackground;
}

.neverCalledBackground {
  background: vars.$neverCalledBackground;
}

.recycledBackground {
  background: vars.$recycledBackground;
}

.clientBackground {
  background: vars.$clientBackground;
}

// HEADER CONTENT

#landingHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5em;
  border-bottom: 2px solid #36395a;
  min-height: 20dvh;
  max-height: 20dvh;
}

#landingHeader .leftContainer,
#landingHeader .rightContainer {
  max-width: 25%;
  min-width: 25%;
  min-height: 15dvh;
  max-height: 15dvh;
  gap: 0.5em;
}

#landingHeader .middleContainer {
  width: 50%;
  min-height: 15dvh;
  max-height: 15dvh;
  gap: 0.5em;
}

#landingHeader .leftContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

#landingHeader .middleContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#landingHeader .middleContainer h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #fffff4;
  // add a text shadow, to make the text more readable
  text-shadow:
    1px 0 #000000,
    -1px 0 #000000,
    0 1px #000000,
    0 -1px #000000,
    0.5px 0.5px #000000,
    -0.5px -0.5px #000000,
    0.5px -0.5px #000000,
    -0.5px 0.5px #000000;
}

#landingHeader .rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 116px;
}

#landingHeader .leftContainer .buttonWrapper,
#landingHeader .rightContainer .buttonWrapper {
  flex-flow: column;
  gap: 1em;
}

#landingHeader .leftContainer button,
#landingHeader .rightContainer button {
  width: 140px !important;
  font-size: 0.8em !important;
  @include mixins.whiteButton();
}

// MAIN CONTENT

#landingMain {
  background: #fffff4;
  display: flex;
  width: 100%;
}

#landingMain .leftContainer,
#landingMain .rightContainer {
  width: 50%;
  display: flex;
  flex-flow: column;
}

#landingMain .leftContainer {
  align-items: center;
  justify-content: center;
}

// FOOTER CONTENT

#landingFooter {
  display: flex;
  width: 100%;
  max-height: 20dvh;
  min-height: 20dvh;
  padding: 1.5em;
}

#landingFooter .leftContainer,
#landingFooter .rightContainer {
  width: 50%;
}

#landingFooter .leftContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

#landingFooter .leftContainer button {
  width: 145px !important;
  font-size: 16px !important;
}

#landingFooter .leftContainer button:first-of-type {
  @include mixins.redButton();
}

#landingFooter .leftContainer button:last-of-type {
  @include mixins.button();
}

#landingFooter .rightContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
}

#landingFooter .rightContainer .topWrapper button {
  font-size: 24px !important;
  width: 200px !important;
  @include mixins.whiteButton();
}
