@use '../../utils/styles/variables' as vars;
@use '../../utils/styles/mixins' as mixins;

#objections {
  min-height: 100dvh !important;
  max-height: 100dvh !important;
  background: #dddddd !important;
  @include mixins.landingSections;
}

#objections h1 {
  text-align: center;
}

#objections .buttonWrapper {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  gap: 0.5rem;
}

#objections .buttonWrapper button {
  text-transform: uppercase;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  @include mixins.button;
}

#objections button.active {
  @include mixins.whiteButton;
}
