@use '../../utils/styles/variables' as vars;

#landingHeaderTable {
  width: 100%;
  display: flex;
  flex-flow: column;
}

#landingHeaderTable table {
  width: 100%;
  border-collapse: collapse;
}

#landingHeaderTable table thead {
  background: #ffc164;
  text-align: center;
}

#landingHeaderTable table tbody {
  background: #fffff4;
  text-align: center;
}

#landingHeaderTable .bottomContainer {
  margin-top: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.7em;
}

