#Calendar {
  width: 100%;
  min-height: 35dvh;
  max-height: 35dvh;
  text-align: center;
  background: lightgray;
  border-radius: 8px 0 0 8px;
}

#Calendar .react-calendar {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}