@use '../../utils/styles/mixins' as mixins;
@use '../../utils/styles/variables' as vars;

#quickRDV {
  padding: 0.5em;
  background: vars.$detailsFicheBackground;
  border-radius: 8px 0 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

#quickRDV button {
  font-size: 1em !important;
  @include mixins.button();
}

// TOP PART

#quickRDV .topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#quickRDV .topContainer .buttonWrapper {
  display: flex;
  gap: 1em;
}

#quickRDV .topContainer .buttonWrapper input {
  font-size: 1.3em;
  padding: 0.3em;
}

#quickRDV .topContainer form {
  display: flex;
  align-items: center;
  gap: 1em;
}

#quickRDV .topContainer input {
  padding: 0.2em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: 1px inset #36395a;
}

#quickRDV .topContainer input[type='date'] {
  width: 150px;
  text-transform: unset;
  letter-spacing: unset;
}

// BOTTOM PART

#quickRDV .bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

#quickRDV .bottomContainer .buttonWrapper {
  display: flex;
  gap: 1em;
}
